{% load full_url %}

<div style="width: 820px;">
   <table width="100%">
      <tr>
         <td style="background-color: #e79523; padding: 30px;">
            <img src="{% full_static_url 'image/header/logo.png' %}" alt="" style="width: 100px;">
         </td>
      </tr>
      <tr>
         <td style="padding: 20px 0;">
            <table width="95%" align="center">
               <tr>
                  <td>
                     <p style="font-family: Arial, Helvetica, sans-serif; font-size: 14px; line-height: 20px; color: #e79523; font-weight: bold;">
                        Producto: <span style="font-weight: normal; color: #87868a;">{{ contacto.producto }}</span>
                     </p>
                     <p style="font-family: Arial, Helvetica, sans-serif; font-size: 14px; line-height: 20px; color: #e79523; font-weight: bold;">
                        Nombre: <span style="font-weight: normal; color: #87868a;">{{ contacto.nombre }}</span>
                     </p>
                     <p style="font-family: Arial, Helvetica, sans-serif; font-size: 14px; line-height: 20px; color: #e79523; font-weight: bold;">
                        Apellido: <span style="font-weight: normal; color: #87868a;">{{ contacto.apellido }}</span>
                     </p>
                     <p style="font-family: Arial, Helvetica, sans-serif; font-size: 14px; line-height: 20px; color: #e79523; font-weight: bold;">
                        Email: <span style="font-weight: normal; color: #87868a;">{{ contacto.email }}</span>
                     </p>
                     <p style="font-family: Arial, Helvetica, sans-serif; font-size: 14px; line-height: 20px; color: #e79523; font-weight: bold;">
                        Telefono: <span style="font-weight: normal; color: #87868a;">{{ contacto.telefono }}</span>
                     </p>
                     <p style="font-family: Arial, Helvetica, sans-serif; font-size: 14px; line-height: 20px; color: #e79523; font-weight: bold;">
                        Consulta: <span style="font-weight: normal; color: #87868a;">{{ contacto.consulta }}</span>
                     </p>
                  </td>
               </tr>
            </table>
         </td>
      </tr>
      <tr>
         <td style="background-color: #e79523; padding: 30px; text-align: center">
            <a href="http://www.tecnocolon.com/" target="_blank" style="font-family: Arial, Helvetica, sans-serif; font-size: 14px; line-height: 20px; color: #fff; font-weight: bold; text-decoration: none">www.tecnocolon.com</a>
         </td>
      </tr>
   </table>
</div>