   {% csrf_token %}
   {{ form.producto }}
      <div class="form-group">
         <div class="col-xs-12 col-md-6 padding-main-small">
            {{ form.nombre }}
         </div>
         <div class="col-xs-12 col-md-6 padding-main-small">
            {{ form.apellido }}
         </div>
      </div>
      <div class="form-group">
         <div class="col-xs-12 col-md-6 padding-main-small">
            {{ form.email }}
         </div>
         <div class="col-xs-12 col-md-6 padding-main-small">
            {{ form.telefono }}
         </div>
      </div>
      <div class="form-group">
         <div class="col-xs-12 padding-main-small">
            {{ form.direccion }}
         </div>
      </div>
      <div class="col-xs-10">
         <h4 class="modal-title">Producto</h4>
      </div>
      <div class="form-group">
         <div class="col-xs-12 col-md-6 padding-main-small">
            Cantidad: {{ form.cantidad }} <br>
            Precio Unitario: {{ producto.precio }}
         </div>
         <div class="col-xs-12 col-md-6 padding-main-small">
            Forma de Pago<br>
            {{ form.forma_pago }}
         </div>
      </div>
      <div class="form-group">
         <div class="col-xs-12 padding-main-small">
            Forma de Entrega<br>
            {{ form.forma_entrega }}
         </div>
      </div>
      {{ form.precio }}
      {{ form.costo_entrega }}
      <div class="clearfix"></div>
       {% if form.errors %}
      <div class="alert alert-danger" role="alert">
         <strong>Campos con error</strong><br>Revise la informacion ingresada.                
         {{ form.errors }}
      </div>
      {% endif %}
      <div class="form-group">
         <div class="col-xs-12">
            <button type="submit" class="btn btn-warning btn-lg strong">
            Comprar
            </button>
         </div>
      </div>
