.btn-warning {
	background-color: #f0f202;
	@include color-sec;
	border: none;
}
.form-control {
	background-color: #eaeaea;
	border-color: #eaeaea;
	@include color-sec;
}
.form-group {
  margin-bottom: 5px
}
.form-vertical div {
  padding: 0 1px;
}