.circle-main {
	width: 100px;
	height:100px;
	border-radius: 100%;
	background-color: #fff;
	display: table-cell !important;
	vertical-align: middle;
	text-align: center;
	padding: inherit !important;
	position: absolute;
	top: 20px;
	right: 40px;
	line-height: 100px;
	color: #fff;
	@include font-main;
	font: {
		size: 15px;
		weight: 700;
	}

}
.circle-sec {
	width: 26px;
	height:26px;
	border-radius: 100%;
	background-color: #fff;
	display: table-cell !important;
	vertical-align: middle;
	text-align: center;
	padding: inherit !important;
	top:10px;
}
.circle-3er {
	width: 22px;
	height:22px;
	border-radius: 100%;
	background-color: #7D7D7C;
	display: table-cell !important;
	vertical-align: middle;
	text-align: center;
	padding: inherit !important;
}

.container-01 {
	@include bgcolor-02;
}

.container-02 {
	@include bgcolor-sec;
	h6 {
		color:#fff;
		font: {
			size: 14px;
		}
		line-height: 25px;
	}
}
.sep-main {
	width: 30px;
	height: 1px;
	background-color: #727176;
	margin: 0;
}
.sep-sec {
	width: 30px;
	height: 1px;
	background-color: #fff;
}
.sep-01 {
	width: 100%;
	height: 1px;
	background-color: #d6d6d6;
}
.volver {
	width:34px;
	height: 34px;
	padding: 7px 8px;
	margin: 25px;
	position: absolute;
	right: 30px;
	top: 1px;
}
.height-fix {
	height: 100%;
} 
.map-cont {
	background-color: #fff;
}
.map-cont .fix {
    pointer-events: none;
}
.color-white {
	color:#fff;
}
.color-yellow {
	color:#ecc41f;
}
.bgcolor-white {
	background-color: #fff;
}
.bgcolor-orange  {
	background-color: #da8700;
}