html, body {
	height: 100%;	
	background-color: #e79523;
}// Sticky Footer
#page {
  min-height: 100%;
  height: auto !important;
  height: 100%;
  margin: 0 auto -186px;
}
.push {
  height: 186px;
}

//---//

.margin-main-big {
	margin-top: 110px !important;
}
.margin-main-medium {
	margin-top: 66px!important;
}
.margin-main-small {
	margin-top: 33px !important;
}
.margin-sec-big {
	margin-top: 25px !important;
}
.margin-sec-medium {
	margin-top: 15px!important;
}
.margin-sec-small {
	margin-top: 10px !important;
}
.margin-no {
	margin: {
		top: 0;
		bottom: 0;		
	}
}


.padding-main-big {
	padding: {
		top:20px !important;
		bottom:20px !important;
	}
}
.padding-main-medium {
	padding: {
		top:10px !important;
		bottom:10px !important;
	}
}
.padding-main-small {
	padding: {
		top:5px !important;
		bottom:5px !important;
	}
}

.padding-side-main-big {
	padding: {
		left: 20px;
		right: 20px;
	}
}
.padding-side-main-medium {
	padding: {
		left: 10px;
		right: 10px;
	}
}
.padding-side-main-small {
	padding: {
		left: 5px;
		right: 5px;
	}
}
.padding-no {
	padding: {
		left:0;
		right: 0;
	}
}

.border-top-main {
	border-top: 5px solid #2e5e95;
}
.border-top-sec {
	border-top: 1px solid #d6d6d6;
}
.border-bottom-main {	
	border-bottom: 2px solid #e79423;
}
.border-bottom-sec {
	border-bottom: 1px solid #c1c1c2;
}
.border-bottom-01 {
	border-bottom: 8px solid #fccf1d;
}
.border-left-main {
	border-left: 1px solid #919191;
}
.border-main {
	border: 10px solid #a09ea0;
}
.border-sec {
	border: 1px solid #d6d6d6;
}
.border-no {
	border: none !important;
	border-radius: inherit;
}
.border-radius {
	border-radius: inherit;
}

.bg-main {
	background-color: #f0f202;
}
.bg-sec {
	background-color: #eaeaea;
}

.img-center {
  display: inherit !important;
  margin: auto;
}

.img-right {
  display: inherit !important;
  margin:0 0 0 auto;
}
a {
	@include transition;
}

.fix-align-left-center {
	text-align: left;
}

.min-height-main {
	min-height: 260px;
}