header {
	overflow-x:hidden;
	overflow-y: auto;
	height: 100%; 
	background-color: #4e4e4e;
	.logo-cont {
		background-color: #c57200;
	}
	a {
		@include color-main;
		font: {
			size: 10px !important;
			weight: 400;
		}
	}
}
.header-fix {
	position: fixed;
	height: 100%;
	z-index: 1000;
}