@mixin transition {
    -webkit-transition: all 0.4s ease-in-out;
    -moz-transition: all 0.4s ease-in-out;
    -o-transition: all 0.4s ease-in-out;
    transition: all 0.4s ease-in-out;
}

@mixin transport {
    moz-transform: translateY(-50%);
    -ms-transform: translateY(-50%);
    -webkit-transform: translateY(-50%);
    transform: translateY(-50%);
}

@mixin display-table {
    width: 100%;
    display: table;
    table-layout: fixed;    
}

@mixin drop-shadow {
    -webkit-filter: drop-shadow(0px 0px 8px #222);
    -moz-filter: drop-shadow(0px 0px 8px #222);
    -ms-filter: drop-shadow(0px 0px 8px #222);
    -o-filter: drop-shadow(0px 0px 8px #222);
    filter: drop-shadow(0px 0px 8px #222);
}

@mixin bgcolor-main {
    background-color: #2d5c92;
}

@mixin bgcolor-sec {
    background-color: #1f1f1f;
}

@mixin bgcolor-01 {
    background-color: #c9c9c9;
}

@mixin bgcolor-02 {
    background-color: #c9c9c9;
}

@mixin color-main {
    color:#e79523;
}

@mixin color-sec {
    color:#727176;
}

@mixin color-01 {
    color:#96821e;
}

@mixin font-main {
    font: {
        family: 'Asap', sans-serif;
    }
    -webkit-font-smoothing: antialiased;
}
@mixin font-sec {
    font: {
        family: 'Roboto', sans-serif;
    }
    -webkit-font-smoothing: antialiased;
}