#pinBoot {
  position: relative;
  max-width: 100%;
  width: 100%;
  .white-panel {
      position: absolute;
      background: white;
      box-shadow: 0px 1px 2px rgba(0, 0, 0, 0.3);
      padding: 0 15px;     
      &:hover {
          box-shadow: 1px 1px 10px rgba(0, 0, 0, 0.5); 
          @include transition;
        }
    }
}
