section {
	.lupa {
		position: absolute;		
	    display: block;
	    height: 40px;
	    width: 100%;
	    text-align: center;
	    top: -50px;
	    z-index: 900;
	    @include transition;
	}	
	.img-cont {
		width: 100%;
		height:230px;
		overflow: hidden;
		img {
			height: 100%;
		}
	}	
}
