.mayusc {
  text-transform: uppercase;
}
.strong {
	font: {
		weight: bold;
	}
}
.cursive {
	font: {
		style: italic;
	}
}

h1, h2, h3, h4, h5, h6, p {
    margin: 0;
    padding: 2px 0;
    white-space: normal;
}
h1 {
	@include font-sec;
	font: {
		weight: 700;
		size: 42px;
	}
	@include color-main;
	line-height: 40px;
}
h2 {
	@include font-sec;
	font: {
		weight: 400;
		size: 40px;
	}
	@include color-main;
}
h3 {
	@include font-sec;
	font: {
		weight: 400;
		size: 27px;
	}
	@include color-main;
}
h4 {
	@include font-main;
	font: {
		weight: 400;
		size: 23px;
	}
	@include color-main;
}
h5 {
	@include font-sec;
	font: {
		weight: 700;
		size: 16px;
	}
	@include color-sec;
}
p {
	@include font-sec;
	font: {
		weight: 400;
		size: 14px;
	}
	@include color-sec;
}