$font-family-sans-serif: 'Roboto', sans-serif;

$border-radius-base:        0px;
$border-radius-large:       0px;
$border-radius-small:       0px;

$link-color:            #727176;
$link-hover-decoration: none;

@import "bootstrap/variables";


