{% load i18n %}
{% load static from staticfiles %}
<!doctype html>
<!--[if lt IE 7 ]>
<html class="ie ie6" lang="en">
<![endif]-->
<!--[if IE 7 ]>
<html class="ie ie7" lang="en">
<![endif]-->
<!--[if IE 8 ]>
<html class="ie ie8" lang="en">
<![endif]-->
<!--[if (gte IE 9)|!(IE)]><!-->
<html>
   <head>
      <meta charset="utf-8">
      <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">
      <link rel="shortcut icon" href="{% static 'image/favicon.ico' %}">

      <title>Tecnocolon</title>

      <link href='http://fonts.googleapis.com/css?family=Asap:400,700' rel='stylesheet' type='text/css'>
      <link href='http://fonts.googleapis.com/css?family=Roboto:400,700' rel='stylesheet' type='text/css'>
      <link rel="stylesheet" href="http://maxcdn.bootstrapcdn.com/font-awesome/4.3.0/css/font-awesome.min.css">
      
      <link rel="stylesheet" href="{% static 'app.css' %}">
   </head>
   <body>
      <div class="container-fluid">
         <div class="row">
            <div class="col-xs-12 col-sm-4 col-md-3 bg-main header-fix padding-no">
               <header>
                  <div class="logo-cont padding-main-big padding-side-main-big">
                     <div class="row padding-main-big">
                        <div class="col-xs-12">
                           <img src="{% static 'image/header/logo.png' %}" alt="">
                        </div>
                     </div>
                  </div>
                  <div class="info-cont bgcolor-white padding-main-big padding-side-main-big hidden-xs">
                     <div class="row">
                        <div class="col-xs-4">
                           <div class="row">
                              <div class="col-xs-12 padding-main-small">
                                 <img src="{% static 'image/header/efvo.jpg' %}" alt="Tecnocolon ventas - pago en efectivo" class="img-responsive img-center">
                              </div>
                              <div class="col-xs-12 text-center">
                                 <p class="strong">
                                    Efectivo en sucursal
                                 </p>
                              </div>
                           </div>
                        </div>
                        <div class="col-xs-4">
                           <div class="row">
                              <div class="col-xs-12 padding-main-small">
                                 <img src="{% static 'image/header/transf.jpg' %}" alt="Tecnocolon ventas - pago en efectivo" class="img-responsive img-center">
                              </div>
                              <div class="col-xs-12 text-center">
                                 <p class="strong">
                                    Transferencia Bancaria
                                 </p>
                              </div>
                           </div>
                        </div>
                        <div class="col-xs-4">
                           <div class="row">
                              <div class="col-xs-12 padding-main-small">
                                 <img src="{% static 'image/header/mpago.jpg' %}" alt="Tecnocolon ventas - pago en efectivo" class="img-responsive img-center">
                              </div>
                              <div class="col-xs-12 text-center">
                                 <p class="strong">
                                    Mercado Pago<br>
                                     <a href=""  data-toggle="modal" data-target="#modalmercado" class="small">VER PROMOCIONES</a>
                                 </p>
                              </div>
                           </div>
                        </div>
                     </div>
                     <div class="row padding-main-medium margin-sec-big">
                        <div class="col-xs-12">
                           <h4 class="strong">Envio</h4>
                        </div>
                        <div class="col-xs-12 padding-main-small">
                           <p>
                              Retiro en nuestras sucursales.
                           </p>
                           <div class="row">
                              <div class="col-xs-12 padding-main-small">
                                 <div class="sep-main"></div>
                              </div>
                           </div>
                           <p>
                              Envíos al interior de Córdoba en un rango de 50 km de la capital con un costo de $90.
                           </p>
                           <div class="row">
                              <div class="col-xs-12 padding-main-small">
                                 <div class="sep-main"></div>
                              </div>
                           </div>
                           <p>
                              Para el resto del país, el costo de envío hasta el transporte / comisionista que elija el cliente será de $90.
                           </p>
                        </div>
                     </div>
                  </div>
                  <div class="direc-cont padding-main-big padding-side-main-big hidden-xs">
                     <div class="row">
                        <div class="col-xs-12">
                           <h4 class="strong">
                              Sucursales
                           </h4>
                        </div>
                        <div class="col-xs-12 padding-main-small">
                           <a href=""  data-toggle="modal" data-target="#modalmap01" class="small">
                              <p class="color-white">
                                 La Tablada 1950 - Bº Alberdi - Córdoba
                              </p>
                           </a>
                           <div class="row">
                              <div class="col-xs-12 padding-main-small">
                                 <div class="sep-main"></div>
                              </div>
                           </div>
                           <a href=""  data-toggle="modal" data-target="#modalmap02" class="small">
                              <p class="color-white">
                                 Colón 2496 - Bº Alberdi - Córdoba
                              </p>
                           </a>
                           <div class="row">
                              <div class="col-xs-12 padding-main-small">
                                 <div class="sep-main"></div>
                              </div>
                           </div>
                           <a href=""  data-toggle="modal" data-target="#modalmap03" class="small">
                              <p class="color-white">
                                 Av. Fulvio Pagani 789 - Local 1 - Arroyito
                              </p>
                           </a> 
                        </div>
                     </div>
                  </div>
               </header>
            </div>
            <div class="col-xs-12 col-sm-4 col-md-3 bg-main hidden-xs">
            </div>
            <div class="col-xs-12 col-sm-8 col-md-9 padding-main-medium">
               <section>
                  {% block content %}
                  {% endblock %}
                  <div class="clearfix"></div>
               </section>
            </div>
         </div>
      </div>
      <footer class="padding-main-medium visible-xs">
         <div class="info-cont bgcolor-white padding-main-big padding-side-main-big">
            <div class="row">
               <div class="col-xs-4">
                  <div class="row">
                     <div class="col-xs-12 padding-main-small">
                        <img src="{% static 'image/header/efvo.jpg' %}" alt="Tecnocolon ventas - pago en efectivo" class="img-responsive img-center">
                     </div>
                     <div class="col-xs-12 text-center">
                        <p class="strong">
                           Efectivo en sucursal
                        </p>
                     </div>
                  </div>
               </div>
               <div class="col-xs-4">
                  <div class="row">
                     <div class="col-xs-12 padding-main-small">
                        <img src="{% static 'image/header/transf.jpg' %}" alt="Tecnocolon ventas - pago en efectivo" class="img-responsive img-center">
                     </div>
                     <div class="col-xs-12 text-center">
                        <p class="strong">
                           Transferencia Bancaria
                        </p>
                     </div>
                  </div>
               </div>
               <div class="col-xs-4">
                  <div class="row">
                     <div class="col-xs-12 padding-main-small">
                        <img src="{% static 'image/header/mpago.jpg' %}" alt="Tecnocolon ventas - pago en efectivo" class="img-responsive img-center">
                     </div>
                     <div class="col-xs-12 text-center">
                        <p class="strong">
                           Mercado Pago<br>
                           <a href=""  data-toggle="modal" data-target="#modalmercado" class="small">VER PROMOCIONES</a>
                        </p>
                     </div>
                  </div>
               </div>
            </div>
            <div class="row padding-main-medium margin-sec-big">
               <div class="col-xs-12">
                  <h4 class="strong">Envio</h4>
               </div>
               <div class="col-xs-12 padding-main-small">
                  <p>
                     Retiro en nuestras sucursales.
                  </p>
                  <div class="row">
                     <div class="col-xs-12 padding-main-small">
                        <div class="sep-main"></div>
                     </div>
                  </div>
                  <p>
                     Envíos al interior de Córdoba en un rango de 50 km de la capital con un costo de $90.
                  </p>
                  <div class="row">
                     <div class="col-xs-12 padding-main-small">
                        <div class="sep-main"></div>
                     </div>
                  </div>
                  <p>
                     Para el resto del país, el costo de envío hasta el transporte / comisionista que elija el cliente será de $90.
                  </p>
               </div>
            </div>
         </div>
         <div class="direc-cont padding-main-big padding-side-main-big">
            <div class="row">
               <div class="col-xs-12">
                  <h4 class="strong">
                     Sucursales
                  </h4>
               </div>
               <div class="col-xs-12 padding-main-small">
                  <a href=""  data-toggle="modal" data-target="#modalmap01" class="small">
                     <p class="color-white">
                        La Tablada 1950 - Bº Alberdi - Córdoba
                     </p>
                  </a>
                  <div class="row">
                     <div class="col-xs-12 padding-main-small">
                        <div class="sep-main"></div>
                     </div>
                  </div>
                  <a href=""  data-toggle="modal" data-target="#modalmap02" class="small">
                     <p class="color-white">
                        Colón 2496 - Bº Alberdi - Córdoba
                     </p>
                  </a>
                  <div class="row">
                     <div class="col-xs-12 padding-main-small">
                        <div class="sep-main"></div>
                     </div>
                  </div>
                  <a href=""  data-toggle="modal" data-target="#modalmap03" class="small">
                     <p class="color-white">
                        Av. Fulvio Pagani 789 - Local 1 - Arroyito
                     </p>
                  </a> 
               </div>
            </div>
         </div>
      </footer>
      <div class="modal modal-contacto fade bs-example-modal-lg" id="modalmercado" tabindex="-1" role="dialog" aria-labelledby="myLargeModalLabel" aria-hidden="true">
         <div class="modal-dialog modal-lg">
            <div class="modal-content">
               <div class="modal-header">
                  <div class="row">
                     <div class="col-xs-8">
                        <h4 class="modal-title">Promociones Mercado-Pago</h4>
                     </div>
                     <div class="col-xs-4 text-right">
                        <div class="btn-group">
                           <button type="button" class="btn btn-danger" data-dismiss="modal"><i class="fa fa-times color-white"></i></button>
                        </div>
                     </div>
                  </div>                  
               </div>
               <div class="modal-body">
                  <div class="embed-responsive embed-responsive-4by3">
                    <iframe class="embed-responsive-item" src="https://www.mercadopago.com/mla/credit_card_promos.htm"></iframe>
                  </div>
               </div>
            </div>
         </div>
      </div>
      <div class="modal modal-contacto fade bs-example-modal-lg" id="modalmap01" tabindex="-1" role="dialog" aria-labelledby="myLargeModalLabel" aria-hidden="true">
         <div class="modal-dialog modal-md">
            <div class="modal-content">
               <div class="modal-header">
                  <div class="row">
                     <div class="col-xs-8">
                        <h4 class="modal-title">La Tablada 1950 - Córdoba</h4>
                     </div>
                     <div class="col-xs-4 text-right">
                        <div class="btn-group">
                           <button type="button" class="btn btn-danger" data-dismiss="modal"><i class="fa fa-times color-white"></i></button>
                        </div>
                     </div>
                  </div>                  
               </div>
               <div class="modal-body">
                  <div class="embed-responsive embed-responsive-4by3">
                    <iframe class="embed-responsive-item" src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d1702.7183533582283!2d-64.20712859999996!3d-31.402091999999996!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x94329891fcbbbf05%3A0xe9a6d88a01e5a850!2sLa+Tablada+1950%2C+X5003BLF+C%C3%B3rdoba!5e0!3m2!1ses!2sar!4v1443199793867" width="100%" height="450" frameborder="0" style="border:0" allowfullscreen></iframe>
                  </div>
               </div>
            </div>
         </div>
      </div>
      <div class="modal modal-contacto fade bs-example-modal-lg" id="modalmap02" tabindex="-1" role="dialog" aria-labelledby="myLargeModalLabel" aria-hidden="true">
         <div class="modal-dialog modal-md">
            <div class="modal-content">
               <div class="modal-header">
                  <div class="row">
                     <div class="col-xs-8">
                        <h4 class="modal-title">Colón 2496 - Córdoba</h4>
                     </div>
                     <div class="col-xs-4 text-right">
                        <div class="btn-group">
                           <button type="button" class="btn btn-danger" data-dismiss="modal"><i class="fa fa-times color-white"></i></button>
                        </div>
                     </div>
                  </div>                  
               </div>
               <div class="modal-body">
                  <div class="embed-responsive embed-responsive-4by3">
                    <iframe class="embed-responsive-item" src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d3405.3601837337005!2d-64.21480159999999!3d-31.40420099999999!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x94329896eab50f53%3A0x65f1375105c921a0!2sAv.+Col%C3%B3n+2496%2C+X5003DCV+C%C3%B3rdoba!5e0!3m2!1ses!2sar!4v1443200066837" width="600" height="450" frameborder="0" style="border:0" allowfullscreen></iframe>
                  </div>
               </div>
            </div>
         </div>
      </div>
      <div class="modal modal-contacto fade bs-example-modal-lg" id="modalmap03" tabindex="-1" role="dialog" aria-labelledby="myLargeModalLabel" aria-hidden="true">
         <div class="modal-dialog modal-md">
            <div class="modal-content">
               <div class="modal-header">
                  <div class="row">
                     <div class="col-xs-8">
                        <h4 class="modal-title">Av. Fulvio Pagani 789 - Arroyito</h4>
                     </div>
                     <div class="col-xs-4 text-right">
                        <div class="btn-group">
                           <button type="button" class="btn btn-danger" data-dismiss="modal"><i class="fa fa-times color-white"></i></button>
                        </div>
                     </div>
                  </div>                  
               </div>
               <div class="modal-body">
                  <div class="embed-responsive embed-responsive-4by3">
                    <iframe class="embed-responsive-item" src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d3404.6928341392836!2d-63.046441000000016!3d-31.422587999999998!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x0%3A0x0!2zMzHCsDI1JzIxLjMiUyA2M8KwMDInNDcuMiJX!5e0!3m2!1ses!2sar!4v1443200633336" width="600" height="450" frameborder="0" style="border:0" allowfullscreen></iframe>
                  </div>
               </div>
            </div>
         </div>
      </div>
   </body>
   <script type="text/javascript" src="{% static 'app.js' %}"></script>
   <script type="text/javascript">
      require('scripts/base');
      require('scripts/compra');
   </script>
</html>