<div class="modal-header">
   <div class="row">
      <div class="col-xs-10">
         <h4 class="modal-title">Descripción Producto</h4>
      </div>
      <div class="col-xs-2 text-right">
         <div class="btn-group">
            <button type="button" class="btn btn-danger" data-dismiss="modal"><i class="fa fa-times color-white"></i></button>
         </div>
      </div>
   </div>                  
</div>
<div class="modal-body">
   <div class="row">
      <div class="col-xs-12 col-sm-4 padding-main-small">
         <div class="img-cont border-sec">
            <img src="{{ producto.imagen_principal.url }}" alt="" class="img-responsive img-center">
         </div>
         <h2 class="padding-main-medium">
            ${{ producto.precio }}
         </h2>        
      </div>
      <div class="col-xs-12 col-sm-8 padding-main-small">
         <h3 class="mayusc">
            {{ producto.nombre }}
         </h3>
         <h1 class="mayusc">
            {{ producto.tipo }}
         </h1>
         <h5 class="padding-main-medium">
            <span class="label label-warning padding-main-medium padding-side-main-medium border-no">
               {{ producto.contenido }}
            </span>
         </h5>
         <div class="descrip padding-main-medium">
            <p>
               {{ producto.descripcion_corta }}
            </p>
         </div> 
         <div class="bgcolor-orange padding-main-big padding-side-main-big margin-sec-small">
            {% for caracteristica in producto.caracteristicas.all %}            
            <p class="color-white">{{ caracteristica.nombre }}</p>
            <div class="row">
               <div class="col-xs-12 padding-main-small">
                  <div class="sep-sec"></div>
               </div>
            </div>
            {% endfor %}
         </div>                       
      </div>
   </div>
   <div class="row">
      <div class="col-xs-12 padding-main-small">
         <div class="sep-01"></div>
      </div>
      <div class="col-xs-12">
         <div class="comprar-cont padding-main-medium">
            <button class="btn btn-primary" type="button" data-toggle="collapse" data-target="#collapsecompra" aria-expanded="false" aria-controls="collapseExample">
               Realizar compra
            </button>
            <div class="collapse" id="collapsecompra">
               <div class="well">
                  <h5>
                     Formulario de Compra
                  </h5>
                  <form action="{% url 'comprainfo' %}" class="form-vertical" id="comprainfo-form">
                     {% include 'tecnocolonventa/partials/compra_form.html' %}
                     <div class="clearfix"></div>
                  </form>
               </div>
            </div>
         </div>
      </div>   
   </div>
</div>