<div class="modal-header">
   <div class="row">
      <div class="col-xs-10">
         <h4 class="modal-title">Formulario de Compra</h4>
      </div>
      <div class="col-xs-2 text-right">
         <div class="btn-group">
            <button type="button" class="btn btn-danger" data-dismiss="modal"><i class="fa fa-times color-white"></i></button>
         </div>
      </div>
   </div>                  
</div>
<div class="modal-body">
      <h3 class="mayusc">
         {{ producto.nombre }}
      </h3>
      <h1 class="mayusc">
         {{ producto.tipo }}
      </h1>
      <h5>
         {{ producto.contenido }}
      </h5>
   <form action="{% url 'compra' %}" class="form-vertical" id="compra-form">
      {% include 'tecnocolonventa/partials/compra_form.html' %}
      <div class="clearfix"></div>
   </form>
</div>
