<div class="modal-header">
   <div class="row">
      <div class="col-xs-6">
         <h2>Envienos su</h2>
         <h1>Consulta</h1>
      </div>
      <div class="col-xs-6 text-right">
         <div class="btn-group">
            <button type="button" class="btn btn-danger" data-dismiss="modal"><i class="fa fa-times color-white"></i></button>
         </div>
      </div>
   </div>
</div>
<div class="modal-body">
   <div class="row">
      <div class="col-xs-12">
            <div class="alert alert-success" role="alert">
               {% for message in messages %}
                  {{ message|safe|linebreaksbr }}
               {% endfor %}
               <br><br>
               <a href="" data-dismiss="modal" class="btn btn-danger" class="alert-link">Volver</a>
            </div>
      </div>
   </div>
</div>