{% extends 'tecnocolonventa/base.html' %}
{% load i18n %}
{% load static from staticfiles %}

{% block extrahead %}
{% endblock %}

{% block content %}
<div class="row productos">
   <div class="col-xs-12">
      <div id="pinBoot">
         {% for producto in productos %}
         <article class="white-panel border-no padding-main-big padding-side-main-big">
            <div class="row padding-side-main-medium">
               <div class="col-xs-12">
                  <a href="{% url 'comprainfo' %}?producto={{ producto.id }}" class="galeria btn-comprainfo">
                     <div class="img-cont border-bottom-main">
                        <img src="{{ producto.imagen_principal.url }}" alt="{{ producto.nombre_completo }}" class="img-responsive img-center">
                     </div>
                     <div class="lupa">
                        <i class="fa fa-search fa-2x"></i>
                     </div>
                  </a>
                  <div class="info-cont padding-main-medium border-bottom-main">
                     <h3 class="mayusc">
                        {{ producto.nombre }}
                     </h3>
                     <h1 class="mayusc">
                        {{ producto.tipo }}
                     </h1>
                     <h5>
                        {{ producto.contenido }}
                     </h5>
                     <p>
                        {{ producto.descripcion_corta }}
                     </p>
                  </div>
                  <div class="links-cont padding-main-medium">
                     <div class="row">
                        <div class="col-xs-6">
                           <h2>
                              ${{ producto.precio }}
                           </h2>
                        </div>
                        <div class="col-xs-6 text-right">
                           <a href="{% url 'compra' %}?producto={{ producto.id }}" class="btn btn-info btn-md btn-compra">COMPRAR</a>
                           <div class="clearfix"></div>
                           <a href="{% url 'comprainfo' %}?producto={{ producto.id }}" class="btn-comprainfo">
                              <p class="strong">
                                 +INFO
                              </p>
                           </a>
                        </div>
                     </div>
                  </div>
               </div>
            </div>
         </article>
   {% endfor %}
      </div>
   </div>
</div>
         
      <div class="modal modal-contacto fade bs-example-modal-lg" id="modalcompra" tabindex="-1" role="dialog" aria-labelledby="myLargeModalLabel" aria-hidden="true">
         <div class="modal-dialog">
            <div class="modal-content">
               
            </div>
         </div>
      </div>
      <div class="modal modal-contacto fade bs-example-modal-lg" id="modalcomprainfo" tabindex="-1" role="dialog" aria-labelledby="myLargeModalLabel" aria-hidden="true">
         <div class="modal-dialog modal-lg">
            <div class="modal-content">
               
               
            </div>
         </div>
      </div>
{% endblock %}